* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenido Body */
body {
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
}

h1 {
    /*color: var(--color3);*/
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--colorPrimario) !important;
}