*{

}

span {
    color: black;
}

.box-title  {
    background: var(--colorPrimario);
}

.box-content {
    background: var(--colorGris2);
    height: 60vh;
}

.box-content-data {
    margin-top: -2.3rem !important;
    height: 10vh;
}

.box-content-text {
    color: var(--colorPrimario);
    font-size: 1.8em;
}

.box-content-footer {
    height: 5vh;
}

.modal-custom-item{
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    height: 65vh;
}

.icon-llamada-start {
    width: 50px;
    height: 15vh;
    border: none;
    align-items: center;
    border-radius: 200px;
    background: limegreen;
}

.icon-llamada-end {
    width: 50px;
    height: 15vh;
    border: none;
    align-items: center;
    border-radius: 200px;
    background: red;
}

.custom-input-text{
    height: 30.5vh;
}

textarea {
    resize: none;
}

.custom-title {
    height: 2vh;
}

.custom-text{
    color: white;
}

